html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1 {
    background-image: url(p4.jpg);
    min-height: 100%;
}
.pimg2 {
    background-image: url(P2.jpg);
    min-height: 400px;
}

.pimg1,
.pimg2 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textBg {
    background: #313534;
    color: #fff;
    padding: 20px;
}

.section {
    padding: 50px 80px;
    text-align: center;
  
}
.section-light {
    background-color: #f4f4f4;
    color: #666;
}
.section-dark {
    background-color: #282e34;
    color: #ddd;
}
.footer {
    
    justify-content: space-around;
}

.footer1 a {
    text-decoration: none;
    color: white;
}
.movies {
    margin-left: 2rem;
}
.copyright {
    margin-top: 2rem;
    color: white;
    font-weight: bold;
}

.background {
    background: url();
}
footer {
    padding: 2rem 0 1rem 0;
    background-color: rgba(21, 36, 35, 0.781);
}
#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    position: center;
    margin-left: 27rem;
  }
  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
    position: center;
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(223, 253, 90, 0.856);
    position: absolute;
    backface-visibility: hidden;
   
  }
  
  .front {
    background-image: url(./p1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-size: 150%;

    
  }
  
  .back {
    background-color: #1111116b;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  :root {
    --smaller: .75;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    background-color: #ffd54f;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
  }
  
  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  
  
  @media all and (max-width: 998px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
  .socials{
    display: flex;
  }
  .footer_left{
    margin-right: 100px;
  }